*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(186, 128, 240);
}

header{
    background-color: rgb(46, 43, 226);
    color: whitesmoke;
    padding: 1rem 2rem;
    padding-bottom: 1.3rem;
}


p{
    font-size: large;
    padding-bottom: 1.3rem;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.lg-btn{
    background-color: rgb(116, 116, 243);
    font-weight: bold;
    font-size: 1rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
}
